<div class="mentions-container">
  <strong>この記事は以下の記事からメンションされています</strong>
  <ul>
    <% report.mentioned_reports.each do |report| %>
      <li>
        日報: <a href="<%= report_path(report) %>"><%= report.title %></a>
        投稿者: <a href="<%= user_path(report.user) %>"><%= report.user.name_or_email %></a>
      </li>
    <% end %>
  </ul>
</div>
